{#
 # MySui Online Judge
 # file: base.twig
 # author: MySui Team <mysuioj@gmail.com>
 #}
<!DOCTYPE html>
<html>
<head>
	<title>{% block head_title %}{% endblock %} - MySui Online Judge</title>
	<meta content="text/html" charset="UTF-8">
	<link rel="icon" href="{{ base_url('assets/images/favicon.ico') }}"/>
	<link rel="stylesheet" type='text/css' href="{{ base_url('assets/styles/main.css') }}"/>
	<script type="text/javascript" src="{{ base_url('assets/js/jquery-1.10.2.min.js') }}"></script>
	<!-- You can use google's cdn for loading jquery: -->
	<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
	<script type="text/javascript" src="{{ base_url('assets/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
	<link rel="stylesheet" href="{{ base_url('assets/styles/flick/jquery-ui-1.10.3.custom.min.css') }}"/>
	<script type="text/javascript" src="{{ base_url('assets/js/moment.min.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/js/jquery.hoverIntent.minified.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/js/jquery.cookie.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/js/jquery.ba-resize.min.js') }}"></script>

	<script type="text/javascript" src="{{ base_url('assets/noty/jquery.noty.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/noty/layouts/center.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/noty/layouts/bottomRight.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/noty/themes/default.js') }}"></script>

	<link rel='stylesheet' type='text/css' href='{{ base_url('assets/nano_scroller/nanoscroller.css') }}'/>
	<script type='text/javascript' src="{{ base_url('assets/nano_scroller/jquery.nanoscroller.min.js') }}"></script>

	<link rel='stylesheet' type='text/css' href='{{ base_url('assets/font/font-awesome/css/font-awesome.min.css') }}'/>

</head>
<script>
msoj={};
msoj.site_url = '{{ rtrim(site_url(),'/')|e('js') }}/';
msoj.base_url = '{{ rtrim(base_url(),'/')|e('js') }}/';
msoj.csrf_token = $.cookie('msojcsrftoken');
msoj.offset = moment('{{ msoj_now_str() }}').diff(moment());
msoj.time = moment();
msoj.finish_time = moment("{{ user.selected_assignment.finish_time|raw }}");
msoj.extra_time = moment.duration({{ user.selected_assignment.extra_time|raw }}, 'seconds');
// notifications
msoj.check_for_notifications = false;
msoj.notif_check_delay = 30;
msoj.color_scheme = 'github';
</script>

<script type="text/javascript" src="{{ base_url('assets/js/msoj_functions.js') }}"></script>

{% block other_assets %}{% endblock %}

<body id="body">
{% include 'templates/top_bar.twig' %}
{% include 'templates/side_bar.twig' %}
<div id="main_container" class="scroll-wrapper">
	<div class="scroll-content">

		<div id="page_title">
			<i class="fa {% block icon %}{% endblock %}"></i>
			<span dir="auto">{% block title %}{% endblock %}</span>
			{% block title_menu %}{% endblock %}
		</div>

		<div id="main_content">
			{% block main_content %}
			{% endblock %}
		</div>
	</div>
</div>
{% block body_end %}{% endblock %}
</body>
</html>