{#
 # MySui Online Judge
 # file: assignments.twig
 # author: MySui Team <mysuioj@gmail.com>
 #         airicy <airicy@outlook.com>
 #}
{% set selected = 'assignments' %}
{% extends 'templates/base.twig' %}
{% block icon %}fa-folder-open{% endblock %}
{% block title %}{{ lang('Assignments') }}{% endblock %}
{% block head_title %}{{ lang('Assignments') }}{% endblock %}



{% block title_menu %}
{% if user.level >= 2 %}
<span class="title_menu_item"><a href="{{ site_url('assignments/add') }}"><i class="fa fa-plus color8"></i> {{ lang('Add') }}</a></span>
{% endif %}
{% endblock %}



{% block main_content %}
{% set msgclasses = {'success': 'msoj_g', 'notice': 'msoj_o', 'error': 'msoj_r'} %}
{% for message in messages %}
	<p class="{{ msgclasses[message.type] }}">{{ message.text }}</p>
{% endfor %}

{% if all_assignments|length == 0 %}
	<p style="text-align: center;">{{ lang('Nothing to show...') }}</p>
{% else %}
<br/>
<table class="mysui_table">
<thead>
<tr>
	<th>{{ lang('Select') }}</th>
	<th>{{ lang('Name') }}</th>
	<th>{{ lang('Problems') }}</th>
	<th>{{ lang('Submissions') }}</th>
	<th>{{ lang('Coefficient') }}</th>
	<th>{{ lang('Start Time') }}</th>
	<th>{{ lang('Finish Time') }}</th>
	<th>{{ lang('Status') }}</th>
	<th>{{ lang('PDF') }}</th>
	{% if user.level > 0 %}
	<th>{{ lang('Actions') }}</th>
	{% endif %}
</tr>
</thead>
{% for item in all_assignments|reverse %}
<tr>
	<td><i class="pointer select_assignment fa {{ item.id == user.selected_assignment.id ? 'fa-check-square-o color6' : 'fa-square-o' }} fa-2x" data-id="{{ item.id }}"></i></td>
	<td dir="auto">{{ item.name }}</td>
	<td><a href="{{ site_url('problems/'~item.id) }}">{{ item.problems }} problem{{ item.problems != 1 ? 's' }}</a></td>
	<td>{{ item.total_submits }} submission{{ item.total_submits != 1 ? 's' }}</td>
	<td>
		{% if item.finished %}
			<span style="color: red;">Finished</span>
		{% else %}
			{{ item.coefficient }} %
		{% endif %}
	</td>
	<td>{{ item.start_time }}</td>
	<td>{{ item.finish_time }}</td>
	<td>
		{% if item.open %}
			<span style="color: green;">Open</span>
		{% else %}
			<span style="color: red;">Close</span>
		{% endif %}
	</td>
	<td>
		<a href="{{ site_url('assignments/pdf/'~item.id) }}"><img src="{{ base_url('assets/images/pdf.svg') }}" /></a>
	</td>
	{% if user.level > 0 %}
	<td>
		{% if user.level >= 2 %}
			<a href="{{ site_url('assignments/downloadtestsdesc/'~item.id) }}"><i title="{{ lang('Download Tests and Descriptions') }}" class="fa fa-cloud-download fa-lg color11"></i></a>
		{% endif %}
		{% if user.level >= 1 %}
			<a href="{{ site_url("assignments/download_submissions/by_user/#{item.id}") }}"><i title="{{ lang('Download by user') }}" class="fa fa-download fa-lg color12"></i></a>
			<a href="{{ site_url("assignments/download_submissions/by_problem/#{item.id}") }}"><i title="{{ lang('Download by problem') }}" class="fa fa-download fa-lg color2"></i></a>
		{% endif %}
		{% if user.level >= 2 %}
			<a href="{{ site_url('moss/'~item.id) }}"><i title="{{ lang('Detect Similar Codes') }}" class="fa fa-shield fa-lg color7"></i></a>
		{% endif %}
		{% if user.level >= 2 %}
			<a href="{{ site_url('assignments/edit/'~item.id) }}"><i title="{{ lang('Edit') }}" class="fa fa-pencil fa-lg color3"></i></a>
		{% endif %}
		{% if user.level >= 2 %}
			<a href="{{ site_url('assignments/delete/'~item.id) }}"><i title="{{ lang('Delete') }}" class="fa fa-times fa-lg color1"></i></a>
		{% endif %}
	</td>
	{% endif %}
</tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}  {# main_content #}