{#
 # MySui Online Judge
 # file: scoreboard.twig
 # author: MySui Team <mysuioj@gmail.com>
 #}
{% set selected = 'scoreboard' %}
{% extends 'templates/base.twig' %}
{% block icon %}fa-star{% endblock %}
{% block title %}{{ lang('Scoreboard') }}{% endblock %}
{% block head_title %}{{ lang('Scoreboard') }}{% endblock %}



{% block main_content %}
{% if user.selected_assignment.id == 0 %}
<p>{{ lang('No assignment selected') }}</p>
{% elseif not user.selected_assignment.scoreboard %}
<p>{{ lang('Scoreboard disabled') }}</p>
{% else %}
	<p>{{ lang('Scoreboard of') }}： <span dir="auto">{{ user.selected_assignment.name }}</span></p>
	{{ scoreboard|raw }}
{% endif %}
{% endblock %} {# main_content #}