{#
 # MySui Online Judge
 # file: showpdf.twig
 # author: MySui Team <mysuioj@gmail.com>
 #         airicy <airicy@outlook.com>
 #}
{% extends 'templates/base.twig' %}
{% block icon %}fa-folder-open{% endblock %}
{% block title %}{{ lang('Assignments') }}{% endblock %}
{% block head_title %}{{ lang('Assignments') }}{% endblock %}



{% block title_menu %}
{% if user.level >= 2 %}
<span class="title_menu_item"><a href="{{ site_url('assignments/add') }}"><i class="fa fa-plus color8"></i> {{ lang('Add') }}</a></span>
{% endif %}
{% endblock %}



{% block main_content %}
{% if pdfurl %}
<br/>
<iframe src="{{ base_url(pdfurl) }}" width="100%" height="500" scrolling="auto" frameborder="0">
		You should be using firefox.
</iframe>
{% else %}
	<p style="text-align: center;">{{ lang('Nothing to show...') }}</p>
{% endif %}
{% endblock %}  {# main_content #}