{#
 # MySui Online Judge
 # file: submit.twig
 # author: MySui Team <mysuioj@gmail.com>
 #}
{% set selected = 'submit' %}
{% extends 'templates/base.twig' %}
{% block icon %}fa-location-arrow{% endblock %}
{% block title %}{{ lang('Submit') }}{% endblock %}
{% block head_title %}{{ lang('Submit') }}{% endblock %}



{% block other_assets %}
<script>
	msoj.p={};
	{{ problems_js|raw }}
	$(document).ready(function(){
		$("select#problems").change(function(){
			var v = $(this).val();
			$('select#languages').empty();
			$('<option value="0" selected="selected">-- {{ lang('Select Language') }} --</option>').appendTo('select#languages');
			if (v==0)
				return;
			for (var i=0;i<msoj.p[v].length;i++)
				$('<option value="'+msoj.p[v][i]+'">'+msoj.p[v][i]+'</option>').appendTo('select#languages');
		});
	});
</script>
{% endblock %}



{% block main_content %}
{% if error != 'none' %}
<p>{{ error }}</p>
{% else %}
	<p>{{ lang('Selected assignment') }}： <span dir="auto">{{ user.selected_assignment.name }}</span></p>
	<p>{{ lang('Coefficient') }}： {{ coefficient }}%</p>
	{{ form_open_multipart('submit') }}
	<p class="input_p">
		<label for="problems" class="tiny">{{ lang('Problem') }}：</label>
		<select id="problems" name ="problem" class="mysui_input">
			<option value="0" selected="selected">-- {{ lang('Select Problem') }} --</option>
			{% for problem in problems %}
				<option dir="auto" value="{{ problem.id }}">{{ problem.name }}</option>
			{% endfor %}
		</select>
		{{ form_error('problem','<div class="msoj_error">','</div>') }}
	</p>
	<p class="input_p">
		<label for="languages" class="tiny">{{ lang('Language') }}：</label>
		<select id="languages" name="language" class="mysui_input">
			<option value="0" selected="selected">-- {{ lang('Select Language') }} --</option>
		</select>
		{{ form_error('language','<div class="msoj_error">','</div>') }}
	</p>
	<p class="input_p">
		<label for="file" class="tiny">{{ lang('File') }}：</label>
		<input type="file" id="file" class="mysui_input medium" name="userfile" />
		{% if upload_state == 'error' %}
		<div class="msoj_error">{{ lang('Error uploading file') }}</div>
		{% elseif upload_state == 'ok' %}
		<div class="msoj_ok">{{ lang('File uploaded') }}</div>
		{% endif %}
	</p>
	<p class="input_p">
		<input type="submit" value="{{ lang('Submit') }}" class="mysui_input"/>
	</p>
	</form>
{% endif %}
{% endblock %}  {# main_content #}