{#
 # MySui Online Judge
 # file: add_user.twig
 # author: MySui Team <mysuioj@gmail.com>
 #         airicy <airicy@outlook.com>
 #}
{% set selected = 'users' %}
{% extends 'templates/base.twig' %}
{% block icon %}fa-plus{% endblock %}
{% block title %}{{ lang('Add Users') }}{% endblock %}
{% block head_title %}{{ lang('Add Users') }}{% endblock %}



{% block title_menu %}
	<span class="title_menu_item"><a href="https://github.com/MySuiOJ/MySuiOJ/blob/docs/v1.4/users.md#add-users" target="_blank"><i class="fa fa-question-circle color6"></i> {{ lang('Help') }}</a></span>
{% endblock %}



{% block other_assets %}
<script type='text/javascript' src="{{ base_url('assets/js/taboverride.min.js') }}"></script>
<script>
	$(document).ready(function(){
		tabOverride.set(document.getElementsByTagName('textarea'));
	});
</script>
<script>
	$(document).ready(function(){
		$("#add_users_button").click(function(){
			$("#loading").css('display','inline');
			$.post(
					'{{ site_url('users/add') }}',
			{
				send_mail: ($("#send_mail").is(":checked")?1:0),
				delay: $("#delay").val(),
				new_users:$("#new_users").val(),
				msoj_csrf_token: msoj.csrf_token
			},
					function(data) {
						$("#main_content").html(data);
					}
			);
		});
	});
</script>
{% endblock %}




{% block main_content %}
<p>{{ lang('add multiple') }}</p>
<ul>
	<li>{{ lang('Usernames may') }}</li>
	<li>{{ lang('Passwords must') }}</li>
	<li>{{ lang('add too many') }}</li>
</ul>
<p class="input_p">
	<input type="checkbox" name="send_mail" id="send_mail" /> {{ lang('Waits second1') }} <input type="text" name="delay" id="delay" class="mysui_input tiny" value="2"/> {{ lang('Waits second2') }}
</p>
<p class="input_p">
<textarea name="new_users" id="new_users" rows="20" cols="80" class="mysui_input">
{{ lang('syntax') }}
</textarea>
</p>
<input type="submit" class="mysui_input" id="add_users_button" value="{{ lang('Add Users') }}"/>
<span id="loading" style="display: none;"><img src="{{ base_url('assets/images/loading.gif') }}" /> {{ lang('Please wait') }}</span>
{% endblock %}  {# main_content #}
