{#
 # MySui Online Judge
 # file: add_user_result.twig
 # author: MySui Team <mysuioj@gmail.com>
 #         airicy <airicy@outlook.com>
 #}
{% if ok %}
<p class="msoj_ok">{{ lang('added successfully') }}:</p>
<ol>
	{% for item in ok %}
	<li>{{ lang('Username') }}: {{ item[0] }} {{ lang('Email') }}: {{ item[1] }} {{ lang('Password') }}: <code>{{ item[2] }}</code> {{ lang('Role') }}: {{ item[3] }}</li>
	{% endfor %}
</ol>
{% endif %}
{% if error %}
<p class="msoj_error">{{ lang('Error adding') }}:</p>
<ol>
	{% for item in error %}
	<li>{{ lang('Username') }}: {{ item[0] }} {{ lang('Email') }}: {{ item[1] }} {{ lang('Password') }}: <code>{{ item[2] }}</code> {{ lang('Role') }}: {{ item[3] }} ({{ item[4] }})</li>
	{% endfor %}
</ol>
{% endif %}