{#
 # MySui Online Judge
 # file: delete_assignment.twig
 # author: MySui Team <mysuioj@gmail.com>
 #         airicy <airicy@outlook.com>
 #}
{% set selected = 'assignments' %}
{% extends 'templates/base.twig' %}
{% block icon %}fa-times{% endblock %}
{% block title %}{{ lang('Delete Assignment') }}{% endblock %}
{% block head_title %}{{ lang('Delete Assignment') }}{% endblock %}



{% block main_content %}
<p>{{ lang('sure delete assignment') }}</p>
<p>
	{{ lang('Assignment id') }}: {{ id }}<br>
	{{ lang('Assignment name') }}: <span dir="auto">{{ name }}</span>
</p>
<p>{{ lang('All be deleted') }}</p>
<p>{{ lang('backup assignment') }}</p>
{{ form_open('assignments/delete/'~id) }}
<input type="hidden" name="delete" value="delete"/>
<p class="input_p">
	<input type="submit" class="btn msoj-red" value="{{ lang('Delete this') }}"/>
	<a href="{{ site_url('assignments') }}" class="btn msoj-blue">{{ lang('Do not delete') }}</a>
</p>
</form>
{% endblock %}  {# main_content #}