{#
 # MySui Online Judge
 # file: edit_problem_plain.twig
 # author: MySui Team <mysuioj@gmail.com>
 #         airicy <airicy@outlook.com>
 #}
{% set selected = 'problems' %}
{% extends 'templates/base.twig' %}
{% block icon %}fa-edit{% endblock %}
{% block title %}{{ lang('Edit Description') }} (Plain HTML){% endblock %}
{% block head_title %}{{ lang('Edit Description') }} (Plain HTML){% endblock %}



{% block other_assets %}
<script type='text/javascript' src="{{ base_url('assets/js/taboverride.min.js') }}"></script>
<script>
	$(document).ready(function(){
		tabOverride.set(document.getElementById('md_editor'));
	});
</script>
{% endblock %}



{% block main_content %}
<p>
	{{ lang('Assignment') }} {{ description_assignment.id }} (<span dir="auto">{{ description_assignment.name }}</span>)<br>
	{{ lang('Problem') }} {{ problem.id }}
</p>
<p>
	<i class="fa fa-warning color3"></i>
	{{ lang('markdown removed') }}
</p>
{{ form_open("problems/edit/html/#{description_assignment.id}/#{problem.id}") }}
<p class="input_p">
	<textarea name="text" rows="30" cols="80" class="mysui_input" id="html_editor">{{ problem.description }}</textarea>
</p>
<p class="input_p">
	<input type="submit" value="{{ lang('Save') }}" class="mysui_input"/>
</p>
</form>
{% endblock %}  {# main_content #}