{#
 # MySui Online Judge
 # file: install.twig
 # author: MySui Team <mysuioj@gmail.com>
 #         airicy <airicy@outlook.com>
 #}
{% set title = {{ lang('Installation') }} %}
{% include 'templates/simple_header.twig' %}

{% if installed %}
	<div id="install_success">
		<h2>{{ lang('Installed') }}</h2>
		{% if not key_changed %}
			<p class="msoj_error">
				<code>application/config/config.php</code> {{ lang('not writable') }}
			</p>
			<p>
				{{ lang('security reasons') }}<br>
				{{ lang('Open') }} <code>application/config/config.php</code> { lang('change encryption key') }}:
			</p>
			<pre>$config['encryption_key'] = '{{ enc_key }}';</pre>
			<p>
				{{ lang('32-characters string') }<br>
				{{ lang('random string') }}: <code>{{ random_key }}</code>
			</p>
			<br>
		{% endif %}
		<p class="msoj_ok">{{ lang('Judge installed') }} <a href="{{ site_url('login') }}">{{ lang('login') }}</a>.</p>
	</div>

{% else %}

	<div id="install_form">
		<h2>{{ lang('Judge Installation') }}</h2>
		{{ form_open('install') }}
		<p class="input_p">
			<label for="form_username">{{ lang('Admin Username') }}：</label>
			<input id="form_username" class="mysui_input" type="text" name="username" required="required" pattern="[0-9A-Za-z]{3,20}" title="{{ lang('Username field2') }}" value="{{ set_value('username') }}" autofocus/>
			{{ form_error('username', '<div class="msoj_error">', '</div>') }}
		</p>
		<p class="input_p">
			<label for="form_email">{{ lang('Admin Email') }}：</label>
			<input id="form_email" type="email" autocomplete="off" name="email" required="required" class="mysui_input" value="{{ set_value('email') }}"/>
			{{ form_error('email', '<div class="msoj_error">', '</div>') }}
		</p>
		<p class="input_p">
			<label for="form_password">{{ lang('Admin Password') }}：</label>
			<input id="form_password" type="password" name="password" required="required" pattern="[0-9A-Za-z]{6,20}" title="{{ lang('Password field2') }}" class="mysui_input"/>
			{{ form_error('password', '<div class="msoj_error">', '</div>') }}
		</p>
		<p class="input_p">
			<label for="form_password_2">{{ lang('Password, Again') }}：</label>
			<input id="form_password_2" type="password" name="password_again" required="required" pattern="[0-9A-Za-z]{6,20}" title="{{ lang('Password field2') }}" class="mysui_input"/>
			{{ form_error('password_again', '<div class="msoj_error">', '</div>') }}
		</p>
		<p class="input_p">
			<input class="mysui_input" type="submit" value="{{ lang('Continue') }}"/>
		</p>
		</form>
	</div>
{% endif %}
</body>
</html>
