{#
 # MySui Online Judge
 # file: moss.twig
 # author: MySui Team <mysuioj@gmail.com>
 #         airicy <airicy@outlook.com>
 #}
{% set selected = 'assignments' %}
{% extends 'templates/base.twig' %}
{% block icon %}fa-list-alt{% endblock %}
{% block title %}{{ lang('Detect Similar Codes') }}{% endblock %}
{% block head_title %}{{ lang('Detect Similar Codes') }}{% endblock %}



{% block other_assets %}
	<script type='text/javascript' src="{{ base_url('assets/js/taboverride.min.js') }}"></script>
	<script>
		$(document).ready(function(){
			tabOverride.set(document.getElementById('md_editor'));
		});
	</script>
{% endblock %}




{% block main_content %}
<h3>{{ lang('What Moss') }}</h3>
<p>
	<a href="http://theory.stanford.edu/~aiken/moss/" target="_blank">Moss</a> {{ lang('Moss1') }}<br>{{ lang('Moss2') }}
</p>

<br>

<h3>{{ lang('Moss id') }}</h3>
{% if not moss_userid %}
	<p class="msoj_error">{{ lang('entered Moss id') }}</p>
{% endif %}
<p>
	{{ lang('Read') }} <a href="http://theory.stanford.edu/~aiken/moss/" target="_blank">{{ lang('this page') }}</a> {{ lang('register Moss') }}
</p>
{{ form_open('moss/update/'~moss_assignment.id) }}
<p class="input_p">
	<label for="moss_uid">{{ lang('Moss id is') }}:</label>
	<input id="moss_uid" type="text" name="moss_userid" class="mysui_input" value="{{ moss_userid }}"/>
</p>
<input type="submit" class="mysui_input" value="{{ lang('Save') }}"/>
</form>

<br>

<h3>{{ lang('Detect similar') }} "<span dir="auto">{{ moss_assignment.name }}</span>":</h3>
<p>
{{ form_open('moss/'~moss_assignment.id) }}
<input type="hidden" name="detect" value="detect" />
{{ lang('send final') }} "<span dir="auto">{{ moss_assignment.name }}</span>" {{ lang('to Moss') }}<br>
{{ lang('not sent') }}<br>
{{ lang('patient') }}<br>
<input type="submit" class="mysui_input" value="{{ lang('Detect Similar Codes') }}"/>
</form>
</p>

<br>

<h3>{{ lang('Moss results') }} "<span dir="auto">{{ moss_assignment.name }}</span>":</h3>
<p>
	{{ lang('Links expire') }}: {{ update_time }}) <br>
	<ul>
	{% for i, moss_problem in moss_problems %}
		<li>{{ lang('Problem') }} {{ i }}:
			{% if moss_problem is null %}
				{{ lang('Link Not') }}
			{% elseif not moss_problem|trim %}
				{{ lang('Link Maybe') }}
			{% else %}
				<a href="{{ moss_problem }}" target="_black">{{ moss_problem }}</a>
			{% endif %}
		</li>
	{% endfor %}
	</ul>
</p>
{% endblock %}  {# main_content #}