{#
 # MySui Online Judge
 # file: queue.twig
 # author: MySui Team <mysuioj@gmail.com>
 #         airicy <airicy@outlook.com>
 #}
{% set selected = '' %}
{% extends 'templates/base.twig' %}
{% block icon %}fa-hourglass-half{% endblock %}
{% block title %}{{ lang('Submission Queue') }}{% endblock %}
{% block head_title %}{{ lang('Submission Queue') }}{% endblock %}



{% block other_assets %}
<script>
	$(document).ready(function(){
		$(".msoj_act").click(function(){
			var action=$(this).attr('id');
			$.post(
					'{{ site_url('queue') }}/'+action,
					{msoj_csrf_token: msoj.csrf_token},
					function(data){
						if (data=='success')
							location.reload();
					}
			);
		});
	});
</script>
{% endblock %}



{% block main_content %}
<p>
	{% if working %}
		<i class="fa fa-play fa-lg color6"></i> {{ lang('Queue working') }}
	{% else %}
		<i class="fa fa-pause fa-lg color10"></i> {{ lang('Queue not working') }}
	{% endif %}
	| {{ lang('Total queue') }}: {{ queue|length }}
</p>
<p>
	<a href="#" class="msoj_act" id="pause"><i class="fa fa-pause"></i> {{ lang('Pause') }}</a> |
	<a href="#" class="msoj_act" id="resume"><i class="fa fa-play"></i> {{ lang('Resume') }}</a> |
	<a href="#" class="msoj_act" id="empty_queue"><i class="fa fa-times-circle"></i> {{ lang('Empty Queue') }}</a>
</p>
<table class="mysui_table">
	<thead>
	<tr>
		<th>#</th>
		<th>{{ lang('Submit ID') }}</th>
		<th>{{ lang('Username') }}</th>
		<th>{{ lang('Assignment') }}</th>
		<th>{{ lang('Problem') }}</th>
		<th>{{ lang('Type') }}</th>
	</tr>
	</thead>
	{% for item in queue %}
		<tr>
			<td>{{ loop.index }}</td>
			<td>{{ item.submit_id }}</td>
			<td>{{ item.username }}</td>
			<td>{{ item.assignment }} (<span dir="auto">{{ all_assignments[item.assignment].name }}</span>)</td>
			<td>{{ item.problem }}</td>
			<td>{{ item.type }}</td>
		</tr>
	{% endfor %}
</table>
{% endblock %}  {# main_content #}