{#
 # MySui Online Judge
 # file: rejudge.twig
 # author: MySui Team <mysuioj@gmail.com>
 #         airicy <airicy@outlook.com>
 #}
{% set selected = 'assignments' %}
{% extends 'templates/base.twig' %}
{% block icon %}fa-repeat{% endblock %}
{% block title %}{{ lang('Rejudge') }}{% endblock %}
{% block head_title %}{{ lang('Rejudge') }}{% endblock %}


{% block main_content %}
<p>
	{{ lang('Selected Assignment') }}: <span dir="auto">{{ user.selected_assignment.name }}</span>
</p>
<p>
		{{ lang('clicking on rejudge1') }} <code>PENDING</code> {{ lang('clicking on rejudge2') }}
</p>
<p>
	 	{{ lang('rejudge button') }} <a href="{{ site_url('submissions/all') }}">{{ lang('All Submissions') }}</a> {{ lang('or') }} <a href="{{ site_url('submissions/final') }}">{{ lang('Final Submissions') }}</a> {{ lang('page') }}.
</p>
{% for problem in problems %}
	{{ form_open('rejudge') }}
		<input type="hidden" name="problem_id" value="{{ problem.id }}"/>
		<input type="submit" class="mysui_input" value="{{ lang('Rejudge Problem') }} {{ problem.id }} ({{ problem.name }})"/>
	</form>
{% endfor %}

{% for message in msg %}
	<p class="msoj_ok">{{ message }}</p>
{% endfor %}
{% endblock %}  {# main_content #}