{#
 # MySui Online Judge
 # file: settings.twig
 # author: MySui Team <mysuioj@gmail.com>
 #         CountStarlight <countstarlight@outlook.com>
 #}
{% set selected = 'settings' %}
{% extends 'templates/base.twig' %}
{% block icon %}fa-gear{% endblock %}
{% block title %}{{ lang('Settings') }}{% endblock %}
{% block head_title %}{{ lang('Settings') }}{% endblock %}



{% block other_assets %}
<script type='text/javascript' src="{{ base_url('assets/js/taboverride.min.js') }}"></script>
<script>
$(document).ready(function(){
	tabOverride.set(document.getElementsByTagName('textarea'));
});
</script>
{% endblock %}



{% block title_menu %}
<span class="title_menu_item">
	<a href="https://github.com/MySuiOJ/MySuiOJ/blob/docs/v1.4/settings.md" target="_blank"><i class="fa fa-question-circle color6"></i> {{ lang('Help') }}</a>
</span>
{% endblock %}



{% block main_content %}
<p class="input_p">
{% if form_status == 'ok' %}
	<div class="msoj_ok">{{ lang('Settings ups') }}</div>
{% elseif form_status == 'error' %}
	<div class="msoj_error">{{ lang('Settings upe') }}</div>
{% endif %}
{% for error in errors %}
	<div class="msoj_error">{{ error }}</div>
{% endfor %}
{% if not defc %}
	<div class="msoj_error">{{ lang('Tpath ncorrect') }}</div>
{% endif %}
</p>
{{ form_open('settings/update') }}
	<p class="input_p">
		<label for="form_timezone">
			时区<br>
			<a target="_blank" href="http://www.php.net/manual/en/timezones.php">{{ lang('list of timezones') }}</a>
		</label>
		<span class="form_comment timer"></span><br>
		<input id="form_timezone" type="text" name="timezone" class="mysui_input medium" value="{{ timezone }}"/>
		{{ form_error('timezone', '<div class="msoj_error">', '</div>') }}
	</p>
	<p class="input_p">
		<label for="form_week">{{ lang('Week Start Day') }}</label>
		<select id="form_week" name="week_start" class="mysui_input">
			<option value="0" {{ week_start == 0 ? 'selected="selected"' }}>{{ lang('Sunday') }}</option>
			<option value="1" {{ week_start == 1 ? 'selected="selected"' }}>{{ lang('Monday') }}</option>
			<option value="2" {{ week_start == 2 ? 'selected="selected"' }}>{{ lang('Tuesday') }}</option>
			<option value="3" {{ week_start == 3 ? 'selected="selected"' }}>{{ lang('Wednesday') }}</option>
			<option value="4" {{ week_start == 4 ? 'selected="selected"' }}>{{ lang('Thursday') }}</option>
			<option value="5" {{ week_start == 5 ? 'selected="selected"' }}>{{ lang('Friday') }}</option>
			<option value="6" {{ week_start == 6 ? 'selected="selected"' }}>{{ lang('Saturday') }}</option>
		</select>
	</p>
	<p class="input_p">
		<label for="form_t_path">{{ lang('Full Path to') }}<code>tester</code>{{ lang('Path of') }}</label>
		<input id="form_t_path" type="text" name="tester_path" class="mysui_input medium" value="{{ tester_path }}"/>
	</p>
	<p class="input_p">
		<label for="form_a_path">{{ lang('Full Path to') }}<code>assignments</code>{{ lang('Path of') }}</label>
		<input id="form_a_path" type="text" name="assignments_root" class="mysui_input medium" value="{{ assignments_root }}"/>
	</p>
	<p class="input_p">
		<label for="form_up_limit">{{ lang('Upload Size Limit') }}</label>
		<input id="form_up_limit" type="text" name="file_size_limit" class="mysui_input medium" value="{{ file_size_limit }}"/>
		{{ form_error('file_size_limit', '<div class="msoj_error">', '</div>') }}
	</p>
	<p class="input_p">
		<label for="form_out_limit">{{ lang('Output Size Limit') }}</label>
		<input id="form_out_limit" type="text" name="output_size_limit" class="mysui_input medium" value="{{ output_size_limit }}"/><br>
		<span class="form_comment clear">{{ lang('Sets limit output code') }}</span>
		{{ form_error('output_size_limit', '<div class="msoj_error">', '</div>') }}
	</p>
	<p class="input_p">
		<label for="form_rpp_all">{{ lang('Results Per Page') }}</label>
		<input id="form_rpp_all" type="text" name="rpp_all" class="mysui_input medium" value="{{ results_per_page_all }}"/>
		<p class="form_comment clear">{{ lang('In All Submit') }}<br>{{ lang('Enter 0 forl') }}</p>
		{{ form_error('results_per_page_all', '<div class="msoj_error">', '</div>') }}
	</p>
	<p class="input_p">
		<label for="form_rpp_final">{{ lang('Results Per Page') }}</label>
		<input id="form_rpp_final" type="text" name="rpp_final" class="mysui_input medium" value="{{ results_per_page_final }}"/>
		<p class="form_comment clear">{{ lang('In Final Submit') }}<br>{{ lang('Enter 0 forl') }}</p>
		{{ form_error('results_per_page_final', '<div class="msoj_error">', '</div>') }}
	</p>
	<p class="input_p">
		<input id="form_en_reg" type="checkbox" name="enable_registration" value="1" {{ enable_registration ? 'checked' }}/>
		<label for="form_en_reg">{{ lang('Registration') }}</label><br>
		<span class="form_comment">{{ lang('Open Regist') }}</span>
	</p>
	<p class="input_p">
		<label for="form_reg_code">{{ lang('Registration Code') }}</label>
		<input id="form_reg_code" type="text" name="registration_code" class="mysui_input medium" value="{{ registration_code }}"/><br>
		<p class="form_comment clear">{{ lang('Set Registration Code') }}<br>
			{{ lang('Enter 0 tod') }}</p>
		{{ form_error('registration_code', '<div class="msoj_error">', '</div>') }}
	</p>
	<p class="input_p">
		<input id="form_log" type="checkbox" name="enable_log" value="1" {{ enable_log ? 'checked' }}/>
		<label for="form_log">{{ lang('Log') }}</label><br>
		<span class="form_comment">{{ lang('Enable Log') }}</span>
	</p>
	<p class="input_p">
		<label for="form_late_rule">{{ lang('Default Coefficient Rule') }}</label>
		<span class="form_comment clear">{{ lang('PHP script without') }} &lt;?php ?&gt; {{ lang('tags') }}</span><br>
		<textarea id="form_late_rule" name="default_late_rule" rows="15" class="mysui_input add_text clear">{{ default_late_rule }}</textarea>
	</p>

	<h2 class="msoj_form">{{ lang('Email') }}</h2>

	<p class="input_p">
		<label for="form_mail_from">{{ lang('Send Emails From') }}</label>
		<input id="form_mail_from" type="text" name="mail_from" class="mysui_input medium" value="{{ mail_from }}"/>
		{{ form_error('mail_from', '<div class="msoj_error">', '</div>') }}
	</p>
	<p class="input_p">
		<label for="form_mail_name">{{ lang('Send Emails FromN') }}</label>
		<input id="form_mail_name" type="text" name="mail_from_name" class="mysui_input medium" value="{{ mail_from_name }}"/>
		{{ form_error('mail_from_name','<div class="msoj_error">','</div>') }}
	</p>
	<p class="input_p">
		<label for="form_mail_reset">{{ lang('Password Reset Email') }}</label>
		<span class="form_comment">{{ lang('You can use') }}{SITE_URL}, {RESET_LINK} {{ lang('and') }} {VALID_TIME}</span><br>
		<textarea id="form_mail_reset" name="reset_password_mail" rows="15" class="mysui_input add_text clear">{{ reset_password_mail }}</textarea>
	</p>
	<p class="input_p">
		<label for="form_mail_add">{{ lang('Add User Email') }}</label>
		<span class="form_comment clear">{{ lang('You can use') }}{SITE_URL}, {LOGIN_URL}, {ROLE}, {USERNAME} {{ lang('and') }} {PASSWORD}</span><br>
		<textarea id="form_mail_add" name="add_user_mail" rows="15" class="mysui_input add_text clear">{{ add_user_mail }}</textarea>
	</p>


	<h2 class="msoj_form">
		{{ lang('Sandboxing') }} <span class="title_menu_item">
			<a href="https://github.com/MySuiOJ/MySuiOJ/blob/docs/v1.4/sandboxing.md" target="_blank"><i class="fa fa-question-circle color11"></i> {{ lang('Help') }}</a>
		</span>
	</h2>

	<p class="input_p">
		<input id="form_easysandbox" type="checkbox" name="enable_easysandbox" value="1" {{ enable_easysandbox ? 'checked' }}/>
		<label for="form_easysandbox">{{ lang('EasySandbox') }}</label>
	</p>
	<p class="form_comment">{{ lang('Enable EasySandbox forC') }}<br>
		{{ lang('You must ') }}<a href="https://github.com/MySuiOJ/MySuiOJ/blob/docs/v1.4/sandboxing.md#build-easysandbox" target="_blank">EasySandbox</a> {{ lang('before enabling it') }}<br>
		{% if not sandbox_built %}
			<span style="color: red;">{{ lang('not built EasySandbox') }}</span>
		{% endif %}
	</p>

	<p class="input_p">
		<input id="form_java_policy" type="checkbox" name="enable_java_policy" value="1" {{ enable_java_policy ? 'checked' }}/>
		<label for="form_java_policy">{{ lang('Java Policy') }}</label>
	</p>
	<p class="form_comment">
		{{ lang('Enable') }} <a href="https://github.com/MySuiOJ/MySuiOJ/blob/docs/v1.4/sandboxing.md#java-sandboxing" target="_blank">{{ lang('Java Sandboxing') }}</a>
	</p>



	<h2 class="msoj_form">
		{{ lang('Shield') }} <span class="title_menu_item">
			<a href="https://github.com/MySuiOJ/MySuiOJ/blob/docs/v1.4/shield.md" target="_blank"><i class="fa fa-question-circle color11"></i> {{ lang('Help') }}</a>
		</span>
	</h2>

	<p class="input_p">
		<input id="form_c_sh" type="checkbox" name="enable_c_shield" value="1" {{ enable_c_shield ? 'checked' }}/> <label for="form_c_sh">C {{ lang('Shield') }}</label><br>
		<span class="form_comment">{{ lang('Enable') }} <a href="https://github.com/MySuiOJ/MySuiOJ/blob/docs/v1.4/shield.md" target="_blank">{{ lang('Shield') }}</a> {{ lang('for') }} C</span>
	</p>
	<p class="input_p">
		<input id="form_cpp_sh" type="checkbox" name="enable_cpp_shield" value="1" {{ enable_cpp_shield ? 'checked' }}/>
		<label for="form_cpp_sh">C++ {{ lang('Shield') }}</label><br>
		<span class="form_comment">{{ lang('Enable') }} <a href="https://github.com/MySuiOJ/MySuiOJ/blob/docs/v1.4/shield.md" target="_blank">{{ lang('Shield') }}</a> {{ lang('for') }} C++</span>
	</p>
	<p class="input_p">
		<input id="form_py2_sh" type="checkbox" name="enable_py2_shield" value="1" {{ enable_py2_shield ? 'checked' }}/>
		<label for="form_py2_sh">Python 2 {{ lang('Shield') }}</label><br>
		<span class="form_comment">{{ lang('Enable') }} <a href="https://github.com/MySuiOJ/MySuiOJ/blob/docs/v1.4/shield.md" target="_blank">{{ lang('Shield') }}</a> {{ lang('for') }} Python 2</span>
	</p>
	<p class="input_p">
		<input id="form_py3_sh" type="checkbox" name="enable_py3_shield" value="1" {{ enable_py3_shield ? 'checked' }}/>
		<label for="form_py3_sh">Python 3 {{ lang('Shield') }}</label><br>
		<span class="form_comment">{{ lang('Enable') }} <a href="https://github.com/MySuiOJ/MySuiOJ/blob/docs/v1.4/shield.md" target="_blank">{{ lang('Shield') }}</a> {{ lang('for') }} Python 3</span>
	</p>
	<p class="input_p">
		<label for="form_def_c">{{ lang('Shield Rules') }} ({{ lang('for') }} C)</label>
		<textarea id="form_def_c" name="def_c" rows="15" class="mysui_input add_text clear">{{ defc }}</textarea>
	</p>
	<p class="input_p">
		<label for="form_def_cpp">{{ lang('Shield Rules') }} ({{ lang('for') }} C++)</label>
		<textarea id="form_def_cpp" name="def_cpp" rows="15" class="mysui_input add_text clear">{{ defcpp }}</textarea>
	</p>
	<p class="input_p">
		<label for="form_shield_py2">{{ lang('Shield Rules') }} ({{ lang('for') }} Python 2)</label>
		<textarea id="form_shield_py2" name="shield_py2" rows="15" class="mysui_input add_text clear">{{ shield_py2 }}</textarea>
	</p>
	<p class="input_p">
		<label for="form_shield_py3">{{ lang('Shield Rules') }} ({{ lang('for') }} Python 3)</label>
		<textarea id="form_shield_py3" name="shield_py3" rows="15" class="mysui_input add_text clear">{{ shield_py3 }}</textarea>
	</p>
	<p class="input_p">
		<br>
		<input type="submit" value="Save Changes" class="mysui_input"/>
	</p>
</form>
{% endblock %}  {# main_content #}
